* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: azure;
}

div {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    width: 50%;
    margin: 2% auto 0 auto;
    padding: 2% 2% 2% 2%;
}

div p {
    text-align: center;
    margin: 0 auto 0 auto;
    font-size: 2em;
}

div a {

    margin: 2% auto 0% auto;
}